<mat-nav-list class="mat-nav-list">
  <span class="navbar-brand">
      <img alt="logo" src="./assets/logo2.png">
  </span>

  <mat-divider></mat-divider>
  <a mat-list-item style="height: 50px;" routerLink="/devices" routerLinkActive="active">
      <mat-icon class="centered-icon">devices</mat-icon>
      <span class="centered-text">Devices</span>
  </a>
  <a mat-list-item style="height: 50px;" routerLink="/profiles" routerLinkActive="{ active: false  }">
      <mat-icon class="centered-icon">edit_note</mat-icon>
      <span class="centered-text">Profiles</span>
  </a>
</mat-nav-list>