<mat-nav-list class="mat-nav-list">
  <span class="navbar-brand">
      <img alt="logo" style="margin: 2px;" height="70" src="./assets/logo.png">
  </span>

  <mat-divider></mat-divider>
  <a mat-list-item style="height: 50px;">
      <mat-icon class="centered-icon">devices</mat-icon>
      <span class="centered-text">Devices</span>
  </a>
  <a mat-list-item style="height: 50px;">
      <mat-icon class="centered-icon">edit_note</mat-icon>
      <span class="centered-text">Profiles</span>
  </a>
</mat-nav-list>