.header {
  position: relative;
  left: 0;
  top: 0;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

button {
  display: flex;
  align-items: center;
}